<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="./style.css">
    <title>Crypto News Feed</title>
</head>

<body>
    <div class="container">
        <div class="news-container">
            <div class="news">
                <div class="img">
                    <img src="./assets/img1.jpg" alt="news image">
                </div>

                <div class="news-content">
                    <h2><a href="/first-route" class="news-header">The crypto market saw some huge fall yesterday after the annoucement of regulation by the US president Joe Biden</a></h2>
                    <div class="details">
                        <div class="source-container">
                            <span class="source"><strong><i>Source :</i></strong> cnn.com</span>
                        </div>
                        <div class="news-stamp_watch">
                            <span class="date"><strong><i>Date :</i></strong>17-02-2022</span>
                            <span class="watching">
                    <i class="fa-solid fa-eye"></i>100</span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="news">
                <div class="img">
                    <img src="./assets/img2.jpg" alt="news image">
                </div>

                <div class="news-content">
                    <h2><a href="/second-route" class="news-header">The crypto market saw some huge fall yesterday after the annoucement of regulation by the US president Joe Biden</a></h2>
                    <div class="details">
                        <div class="source-container">
                            <span class="source"><strong><i>Source :</i></strong> cnn.com</span>
                        </div>
                        <div class="news-stamp_watch">
                            <span class="date"><strong><i>Date :</i></strong>17-02-2022</span>
                            <span class="watching">
                    <i class="fa-solid fa-eye"></i>100</span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="news">
                <div class="img">
                    <img src="./assets/img3.jpg" alt="news image">
                </div>

                <div class="news-content">
                    <h2><a href="/third-route" class="news-header">The crypto market saw some huge fall yesterday after the annoucement of regulation by the US president Joe Biden</a></h2>
                    <div class="details">
                        <div class="source-container">
                            <span class="source"><strong><i>Source :</i></strong> cnn.com</span>
                        </div>
                        <div class="news-stamp_watch">
                            <span class="date"><strong><i>Date :</i></strong>17-02-2022</span>
                            <span class="watching">
                    <i class="fa-solid fa-eye"></i>100</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="ads-container"></div>


    </div>
    <script type="text/javascript" src="./main.js"></script>
</body>

</html>